



.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: black;
  }

.footers{
  font-family: 'Times New Roman', Times, serif;
  color:white;
  padding: 2px;
  padding-right: 20px;
}
