.navbar--main {
  display: grid;
  height: 96px;
  padding: 0 40px;
  grid-template-columns: 24px 1fr 150px 1fr 200px 1fr 200px 1fr 800px 48px;
  align-items: center;
  justify-items: center;
}

.navbar--main > div {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.navbar--menuicon {
  grid-column: 1;
}

.navbar--home {
  grid-column: 3 / 4;
  width: 80%;
}

.navbar--deliver-pickup {
  grid-column: 5 / 6;
  border-radius: 20px;
  background-color: #e2e2e2;
  width: 80%;
  padding: 0;
  justify-content: space-around;
  cursor: pointer;
}

.del-pick-highlight {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 8px;
}

.navbar--location {
  grid-column: 7 / 8;
  border-radius: 20px;
  background-color: #e2e2e2;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.navbar--location > button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #e2e2e2;
  border-radius: 20px;
}

.navbar--searchbar {
  grid-column: 9 / 10;
  border-radius: 20px;
  background-color: #e2e2e2;
  width: 100%;
}

.navbar--searchbar > input {
  border: none;
  background-color: #e2e2e2;
  width: 100%;
  padding-left: 10px;
}

.navbar--shopping-btn {
  border: none;
  background-color: #000000;
  color: white;
  height: 40px;
  width: 96px;
  border-radius: 20px;
  grid-column: 11 / 12;
}
