#logo {
  color: #ffd900;
  letter-spacing: 2px;
}

.navbar--main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  gap: 2rem;
  height: 100px;
  padding: 0 40px;
}

.navbar--main a,
a:visited {
  color: #000000;
}

.navbar--main > div {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.navbar--menuicon {
  grid-column: 1;
}

.navbar--home {
  grid-column: 3 / 4;
}

.navbar--deliver-pickup {
  border-radius: 30px;
  background-color: #eeeeee;
  width: 300px;
  padding: 0;
  justify-content: space-between;
  cursor: pointer;
}

.del-pick-highlight {
  border-radius: 30px;
  background-color: #ffffff;
  padding: 10px 15px;
}

.navbar--location {
  min-width: 200px;
  width: 250px;
  border-radius: 30px;
  background-color: #eeeeee;
  justify-content: center;
  cursor: pointer;
}

.navbar--location > button {
  width: 200px;
  height: 40px;
  border: none;
  background-color: transparent;
  border-radius: 20px;
}

.navbar--searchbar {
  min-width: 200px;
  border-radius: 30px;
  background-color: #eeeeee;
  width: 100%;
}

.navbar--searchbar > input {
  border: none;
  background-color: #eeeeee;
  width: 100%;
  padding-left: 10px;
  border-radius: 30px;
  height: 50px;
}

.navbar--shopping-btn {
  border: none;
  background-color: #000000;
  color: white;
  height: 50px;
  border-radius: 30px;
  width: 12rem;
  min-width: 100px;
}

.navbar--shopping-btn:hover {
  background-color: #333333;
}

.navbar--shopping-btn:active {
  background-color: #505050;
}

.navbar--cuisine-container {
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  max-width: 1920px;
}

.navbar--cuisine-main {
  display: flex;
  justify-content: space-evenly;
}

.navbar--cuisine-main > button {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.navbar--cuisine-main img {
  width: 75px;
  height: 75px;
  background-color: #ffffff;
}

.navbar--cuisine-main img:hover {
  background-color: #e6e6e6;
  border-radius: 100px;
}

.navbar--cuisine-main p {
  font-size: 14px;
}
