

.entireDeleteModal{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.deleteReview{
    display: flex;
    justify-content: center;
    color:purple
}

.modalDeleteButtons{
    display: flex;
    justify-content: space-evenly;
}

.deleteModalButton{
    background-color: red;
    color:black;
    font-weight: bold;
    padding: 20px;
    border: 2px solid purple;
}

.keepModalButton{
    color:black;
    padding: 20px;
    border: 2px solid purple;
    background-color: white;

}
