.manager--main {
  display: flex;
  flex-direction: row;
}

.manager--navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: #f7f7f7;
  border-radius: 10px;
  height: 100vh;
}

.manager--navbar li {
  padding: 10px;
}

.manager--navbar-restaurants-btn {
  border: none;
  background: none;
  font-size: 16px;
}

.manager--main > button:hover,
a:hover {
  background-color: white;
}

.manager--navbar-restaurants {
  display: none;
  opacity: 0;
  transition: opacity 200ms, display 200ms;
}

.manager--open {
  display: block;
  opacity: 1;
}
